<div class="container">
  <div class="info-top m-5">
    <h1><%= @list.name %></h1>
      <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: 'btn btn-dark' %>
  </div>

  <div class="row" id="fe-responsive">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card-show-body">
        <%= image_tag movie.poster_url, class: "card-img-top-show" %>
      <div class="info-film">
        <div class="card-body-show">
          <%= movie.title %>
          <hr />
          <%= movie.overview %>
          <hr />
          <%= movie.bookmarks.last.comment %> - <%= movie.rating %>
      <div class= "text-center">
        <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: {:confirm => "You sure?" } %>
      </div>
      </div>
      </div>
    </div>
      <% end %>
</div>
</div>
